<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de transferencias</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <div class="nav-bar">
        <img class="nav-logo" src="/images/mercantil-logo.png">
    </div>
        
    <div class="loader hide"></div>

    <div class="main-container">
        <h3>Búsqueda de transferencias</h3>

        <!-- ==== FORMULARIO DE PAGO ==== -->

        <form>
            <fieldset>
                <label for="account-number">Número de cuenta</label>
                <input type="number" id="account-number">
            </fieldset>
            <fieldset>
                <label for="customerid">Número de cédula</label>
                <div>
                    <select id="customerid-prefix">
                        <option selected value="V">V</option>
                        <option value="J">J</option>
                        <option value="G">G</option>
                        <option value="P">P</option>
                        <option value="C">C</option>
                    </select>
                    <input type="number" id="customerid" required/>
                </div>
            </fieldset> 
            <fieldset>
                <label for="transaction-date">Fecha de la transacción</label>
                <input type="date" id="transaction-date" required/>
            </fieldset> 
            <fieldset>
                <label for="bank-id">Banco emisor</label>
                <input type="number" id="bank-id" required/>
            </fieldset> 
            <fieldset>
                <label for="payment-reference">Número de referencia</label>
                <input type="number" id="payment-reference" required/>
            </fieldset> 
            <fieldset>
                <label for="amount">Monto</label>
                <input type="number" id="amount" required/>
            </fieldset> 
        </form>

        <!-- ==== TRANSACTION RESPONSE ==== -->

        <div class="transaction-response hide">
            <h2></h2>
            <p></p>
            <a class="retry">Reintentar</a>
        </div>
        <button id="send-button">Enviar</button>
    </div>

    <div class="json-container hide">
        <div class="request">
            <h3>Request</h3>
            <div></div>
        </div>
        <div class="response">
            <h3>Response</h3>
            <div></div>
        </div>
    </div>

    <script src="/js/interface.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>