<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago con tarjeta de débito</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <div class="nav-bar">
        <img class="nav-logo" src="/images/mercantil-logo.png">
    </div>
        
    <div class="loader hide"></div>

    <div class="main-container">
        <h3>Pago con tarjeta de débito</h3>

        <!-- ==== FORMULARIO DE PAGO ==== -->

        <form>
            <fieldset>
                <label for="customerid">Número de cédula</label>
                <div>
                    <select id="customerid-prefix">
                        <option selected value="V">V</option>
                        <option value="E">E</option>
                        <option value="J">J</option>
                        <option value="G">G</option>
                        <option value="P">P</option>
                        <option value="C">C</option>
                    </select>
                    <input type="number" id="customerid" required/>
                </div>
            </fieldset> 
            <fieldset>
                <label for="account-type">Tipo de cuenta</label>
                <select id="account-type">
                    <option value="CC">Cuenta Corriente</option>
                    <option value="CA">Cuenta de Ahorros</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="card-number">Número de tarjeta</label>
                <input type="number" id="card-number" required/>
            </fieldset> 
            <fieldset>
                <label for="expiration-date">Fecha de expiración</label>
                <input type="text" id="expiration-date" required/>
            </fieldset> 
            <fieldset>
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" required/>
            </fieldset>
            <fieldset>
                <label for="amount">Monto</label>
                <input type="text" id="amount" required/>
            </fieldset>
            <fieldset>
                <label for="invoice-number">Número de factura</label>
                <input type="number" id="invoice-number" required/>
            </fieldset> 
            <fieldset>
                <label for="twofactor">OTP</label>
                <input type="number" id="twofactor" minlength="8" maxlength="8">
            </fieldset>
        </form>

        <!-- ==== TRANSACTION RESPONSE ==== -->

        <div class="transaction-response hide">
            <h2></h2>
            <p></p>
            <a class="retry">Reintentar</a>
        </div>
        <button id="send-button">Enviar</button>
    </div>

    <div class="json-container hide">
        <div class="request">
            <h3>Request</h3>
            <div></div>
        </div>
        <div class="response">
            <h3>Response</h3>
            <div></div>
        </div>
    </div>

    <script src="/js/interface.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>
